{
    "arrowParens": "always",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "embeddedLanguageFormatting": "auto",
    "htmlWhitespaceSensitivity": "css",
    "insertPragma": false,
    "jsxSingleQuote": false,
    "printWidth": 300,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "requirePragma": false,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "useTabs": false,
    "vueIndentScriptAndStyle": false,
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "tabWidth": 4
            }
        },
        {
            "files": "*.css",
            "options": {
                "tabWidth": 4
            }
        },
        {
            "files": "*.scss",
            "options": {
                "tabWidth": 4
            }
        },
        {
            "files": "*.js",
            "options": {
                "tabWidth": 4
            }
        }
    ]
}
