@mixin mq_min_576 {
    @media screen and (min-width: 576px) {
        @content;
    }
}
@mixin mq_min_768 {
    @media screen and (min-width: 768px) {
        @content;
    }
}
@mixin mq_min_992 {
    @media screen and (min-width: 992px) {
        @content;
    }
}
@mixin mq_min_1280 {
    @media screen and (min-width: 1280px) {
        @content;
    }
}
@mixin mq_min_1400 {
    @media screen and (min-width: 1400px) {
        @content;
    }
}
@mixin flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
@mixin set_font($size, $weight, $height) {
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
}
@mixin truncate_text($line) {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }

    @-moz-keyframes #{$animationName} {
        @content;
    }

    @-o-keyframes #{$animationName} {
        @content;
    }

    @-ms-keyframes #{$animationName} {
        @content;
    }

    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animation-delay($settings) {
    -moz-animation-delay: $settings;
    -webkit-animation-delay: $settings;
    -o-animation-delay: $settings;
    -ms-animation-delay: $settings;
    animation-delay: $settings;
}

@mixin animation-duration($settings) {
    -moz-animation-duration: $settings;
    -webkit-animation-duration: $settings;
    -o-animation-duration: $settings;
    -ms-animation-duration: $settings;
    animation-duration: $settings;
}

@mixin animation($settings) {
    -moz-animation: $settings;
    -webkit-animation: $settings;
    -o-animation: $settings;
    -ms-animation: $settings;
    animation: $settings;
}

@mixin transform($settings) {
    transform: $settings;
    -moz-transform: $settings;
    -webkit-transform: $settings;
    -o-transform: $settings;
    -ms-transform: $settings;
}
