*,
*::before,
*::after {
    box-sizing: border-box;
}
$color-main: linear-gradient(90deg, rgba(127, 127, 213, 1) 0%, rgba(134, 168, 231, 1) 54%, rgba(145, 234, 228, 1) 100%);
body {
    font-family: 'Open Sans', sans-serif !important;
    overflow: hidden auto;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #a8a8a8;
    }
    &::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }
}
@font-face {
    font-family: 'Catamaran', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100&display=swap');
}
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
input {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 40px;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    // @include mq_min_576 {
    // 	width: 540px;
    // }
    @include mq_min_768 {
        width: 650px !important;
        // padding: 0 25px 50px;
    }
    @include mq_min_992 {
        width: 870px !important;
        // padding: 0 25px 50px;
    }
    @include mq_min_1280 {
        width: 1170px !important;
        // padding: 0 25px 50px;
    }
    @include mq_min_1400 {
        width: 1280px !important;
        // padding: 0 25px 50px;
    }
}
.experience {
    color: #2c810d;
}
.hotnews {
    color: #f47f29;
}
.sunner {
    color: #fcc530;
}
.project-product {
    color: #2ee89e;
}
.corner-of-sun {
    color: #38a0bf;
}
.story {
    color: #2bbbe0;
}
